@media screen and (max-width: 968px) {
    .contactForm {
        max-width: 300px !important;
        padding: 0px 20px 20px 20px;
    }
}

.contactForm textarea {
    padding: 10px 15px 15px 15px;
}

/* css for checkbox in form */
.contactForm input[type="checkbox"] {
    height: 18px;
    width: 18px;
    margin: 22px 10px 0 5%;
    visibility: hidden;
}

.contactForm label {
    font-size: calc(1rem + 0.8vw);
    width: 100%;
}

.noSelect i {
    padding: 5px;
    font-size: calc(1rem + 0.4vw);
    border-radius: 10px;
    filter: contrast(0.5);
    filter: brightness(0.5);
    transition: 0.1s;
    margin: 0 10px 0 10px;
}

.contactForm label:hover {
    cursor: pointer;
}

.contactForm label:hover i {
    filter: contrast(0.9);
    filter: brightness(0.9);
    transition: 0.1s;
}

/* onclick css */
.contactForm input[type="checkbox"]:checked~i {
    filter: contrast(1);
    filter: brightness(1.01);
}

.contactForm kbd {
    background-color: white;
    color: rgb(184, 184, 184);
}

.contactForm input[type="checkbox"]:checked~kbd {
    font-weight: 800;
    color: black;
}

.mm i {
    color: var(--white);
    margin-top: 10px;
}

.emoji span {
    filter: brightness(0.5);
    cursor: pointer;
    color: rgb(219, 219, 219);
    transition: 0.4s;
}

.emoji span:hover {
    filter: brightness(0.7);
    transition: 0.4s;
}

.a {
    filter: brightness(1) !important;
}

.b {
    filter: brightness(1) !important;
}

.c {
    filter: brightness(1) !important;
}

.d {
    filter: brightness(1) !important;
}

.e {
    filter: brightness(1) !important;
}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */


.contactForm h1 {
    font-size: calc(1.7rem + 1.5vw);
}

h3 {
    font-size: calc(1rem + 1.2vw);
    margin-bottom: 0px;
}

.btn-accent h3 {
    font-size: calc(1rem + 1.2vw);
    font-weight: 500;
    color: #000;
}

.ipBox input {
    height: 18px;
    width: 18px;
}


.mt-5 .align-items-center {
    padding: 10px;
    border-radius: 10px;
}

.mt-5 .align-items-center i {
    filter: brightness(1);
    font-size: calc(1rem + 1vw);
    margin-left: 20px !important;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* crap */
i {
    margin: 0 0 0 10px;
}

#customNav {
    background-color: rgba(255, 255, 255, 0.6) !important;
    backdrop-filter: blur(20px) !important;
    box-shadow: var(--shadowtiny) !important;
}

.red {
    background-color: rgb(255, 208, 208);
    color: rgb(231, 4, 4);
}

.green {
    background-color: rgb(208, 255, 208);
    color: green;
}

.orange {
    background-color: rgb(255, 235, 198);
    color: rgb(243, 158, 0);
}

.blue {
    background-color: rgb(208, 208, 255);
    color: rgb(0, 0, 141);
}

.skyblue {
    background-color: rgb(208, 255, 255);
    color: rgb(0, 180, 180);
}

.yellow {
    background-color: rgb(255, 255, 208);
    color: rgb(155, 155, 0);
}

.purple {
    background-color: rgb(255, 208, 255);
    color: rgb(141, 0, 141);
}

.pg:hover {
    cursor: default;
    color: black;
    border-radius: 10px;
    filter: brightness(1.05);
    box-shadow: var(--shadow);
}

.calImg img {
    height: 30px !important;
    width: 30px !important;
    margin-left: 10px;
    margin-right: 10px;
}



.contactForm select {
    color: var(--accentdark);
    background: var(--accentdim4);
    border: 2px solid var(--accentdim3);
    padding: 0 15px 0 15px;
    border-radius: 7px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;

    font-size: 20px;
    font-weight: 600;
    transition: 0.15s;
}

.contactForm select:focus {
    outline: none;
    border: 2px solid var(--accent);
    background: var(--accentdim4);
    transition: 0.15s;
}

.contactForm select::placeholder {
    color: var(--accentdim0);
    font-weight: 400;
    font-size: 17px;
    transition: 0.15s;
}

#hrtLogo {
    border: none;
    border-radius: 5px;
}

#scrollTop i {
    margin: 0px !important;
}

a{
    cursor: pointer !important;
}

.note{
    display: flex;
    align-items: center;
    padding: 16px 10px 10px 20px;
    border-radius: 10px;
    transition: 0.15s;
}
.note:hover{
    transition: 0.15s;
    box-shadow: var(--accentshadowtiny);
}
.note .timeNote{
    background-color: var(--accentdim4);
    border: 1px solid var(--accent);
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
}
.note .timeNote p{
    margin: 0px !important;
}

.mainSection .month {
    margin: 0px 20px 0px 20px;
    font-size: 25px;
    font-weight: 600;
    color: var(--accentdark);
    text-align: center;
}
.mainSection .month .mon{
    margin-top: 20px;
}
.mainSection .month .val{
    font-size: 20px;
    font-weight: 400;
    color: var(--accentdark);
    text-align: center;
}

.subSection {
    box-shadow: none;
    border: 1px solid var(--accentdim3);
    border-radius: 5px;
    transition: 0.15s;
}
.subSection:hover {
    border-radius: 15px;
    transition: 0.15s;
}
.BODY {
    margin-top: -5px !important;
    padding-bottom: 50px !important;
}